body {
  font-family: candara;
  overflow-x: hidden;
}

.fo-13{
    font-size: 15px;
}

.fo-gray {
    color: black
}


.notification{
  /* background: #ffdb9b; */
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.notification.success{
    background: #C5F3D7;
    border-left: 8px solid #29D46F;
}

.notification.showAlert{
  opacity: 1;
  pointer-events: auto;
}

.notification.show{
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}

.notification.hide{
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}

.notification .icon-msg{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.notification .fa-check-circle{
    color: #25AE5F;
}

.notification .fa-exclamation-circle{
  color: #ce8500;
}

.notification .fa-times-circle{
    color: #ce8500;
}

.notification .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #365e43;
}

.notification .close-msg{
position: absolute;
right: 0px;
top: 50%;
background: #94EAB9;
  transform: translateY(-50%);
  padding: 20px 18px;
  cursor: pointer;
}

.notification .close-msg:hover{
  background: #75e6a6;
}

.notification .close-msg .fas{
  color: #1CA657;
  font-size: 22px;
  line-height: 40px;
}
